body {
    background-color: #049a78;
}


.privew {
    margin-bottom: 20px;
}

.all {
    width:600px;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    margin-top: -300px; 
    margin-left: -300px;
}
.individualQuiz {
    padding: 8px 30px;
    font-size: 18px;

}
.resultImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    max-width: 100%;
}
.imageBox {
    max-height: 250px;
    max-width: 550px;
    padding: 20px;  
}
      

.questionsBox {
    display: block;
    border: solid 1px #e3e3e3;
    padding: 10% 10%;
    box-shadow: inset 0 0 30px rgba(000,000,000,0.1), inset 0 0 4px rgba(255,255,255,1);
    border-radius: 3px;
    margin: 0 10px;
    background-color: white;
}

.questionsBox h3 {
    font-size: 1vw;
    color: darkgrey;
}

.questions {
    background: #222222;
    color: #FFF;
    font-size: 22px;
    padding: 8px 30px;
    font-weight: 300;
    margin: 0 -30px 10px;
    position: relative;
}
.questions:after {
    background: url(../img/icon.png) no-repeat left 0;
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}
.questions:after {
    left: auto;
    right: 0;
    background-position: -10px 0;
}
.questions:before, .questions:after {
    background: black;
    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0;
}
.answerList {
    margin-bottom: 15px;
}


ol, ul {
    list-style: none;
}
.answerList li:first-child {
    border-top-width: 0;
}

.answerList li {
    padding: 15px 0;
}
.answerList label {
    margin-top: -30px;
    margin-left: 30px;
    display: block;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px #dde7e8;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
    padding: 4px;
}

.formInLine{
    display: inline-block;
    text-align: right;
    }


.nextButton {
    text-align: right;
    }

.questionsRow {
    background: #dee3e6;
    margin: 0 -20px;
    padding: 10px 20px;
    border-radius: 0 0 3px 3px;
}
.button, .greyButton {
    background-color: #f2f2f2;
    color: #888888;
    display: inline-block;
    border: solid 3px #cccccc;
    vertical-align: middle;
    text-shadow: 0 1px 0 #ffffff;
    line-height: 27px;
    min-width: 160px;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 0px;
    text-transform: capitalize;
}
.questionsRow span {
    float: centre;
    display: inline-block;
    line-height: 30px;
    border: solid 1px #aeb9c0;
    padding: 0 10px;
    background: #FFF;
    color: #007fbe;
}

.nextButton .currentQuestionDisplay {
    text-align: left;
    margin-right: 300px;
}




