<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel = "stylesheet" type = "text/css" th:href="${'style.css'}" href="style.css" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Quiz of destiny</title>
</head>
<body>
    <div class="all">
        <div class="questionsBox">
            <h1>HHJML Quizzes Inc.</h1>
            <h2>Choose your quiz</h2>
            <div class="individualQuiz" th:each="name : ${quiznames}">
                <a th:href="'/quiz/' + ${name}" th:text="'What kind of ' + ${name} + ' are you?'"></a>
            </div>
            <div class="individualQuiz">
                <a th:href="'/quiz/' + ${randomQuiz}" th:text="'Random Quiz'"></a>
            </div>
        </div>
    </div>
</body>
</html>