<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel = "stylesheet" type = "text/css" th:href="${'/style.css'}" href="style.css" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Quiz page</title>
</head>
<body>
    <div class="all">
        <div class="questionsBox">
            
            
            <form action="/registeranswer" method="POST">

                <div class="questions">
                    <h3 th:text="${inquiry.question}">CSS Stands for...</h3>
                </div>
                <ul class="answerList">
                    <li>
                        <input type="radio" name="answer" id="question-1-answers-A" value="A" />
                        <label for="question-1-answers-A" th:text="${inquiry.answer1}">A) Computer Styled Sections </label>
                    </li>
                    
                    <li>
                        <input type="radio" name="answer" id="question-1-answers-B" value="B" />
                        <label for="question-1-answers-B" th:text="${inquiry.answer2}">B) Cascading Style Sheets</label>
                    </li>
                    
                    <li>
                        <input type="radio" name="answer" id="question-1-answers-C" value="C" />
                        <label for="question-1-answers-C" th:text="${inquiry.answer3}">C) Crazy Solid Shapes</label>
                    </li>
                    
                    <li>
                        <input type="radio" name="answer" id="question-1-answers-D" value="D" />
                        <label for="question-1-answers-D" th:text="${inquiry.answer4}">D) None of the above</label>
                    </li>
                </ul>
                <div>
                    <input class="questionsRow" type="submit" value="Next">
                </div>
            </form>
            <div>
                <form th:action="@{/destroy}" method="post">
                    <input class="questionsRow" type="submit" value="Start over" />
                </form>
            </div>
        </div>
    </div>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>	